@font-face {
    font-family: 'bpg_paata_capsregular';
    src: url('../fonts/bpg_paata_caps-webfont.eot');
    src: url('../fonts/bpg_paata_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_paata_caps-webfont.woff2') format('woff2'),
         url('../fonts/bpg_paata_caps-webfont.woff') format('woff'),
         url('../fonts/bpg_paata_caps-webfont.ttf') format('truetype'),
         url('../fonts/bpg_paata_caps-webfont.svg#bpg_paata_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Rioni Arial';
    src: url('../fonts/bpg-rioni-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-rioni-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-rioni-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-rioni-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-rioni-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-rioni-arial-webfont.svg#bpg_rioni_arialregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

html.ge * {
	text-transform: none !important;
}
body {
	font-family: "BPG Rioni Arial", sans-serif;
}

.brand-page .desc .links a.shopnow {
	background: #cd181f url(../img/basket-white.png) no-repeat 135px center;
	background-size: 20px;
	width: 175px;
}

.brands .menu .content a, .media .menu .content a {
	padding: 12px 12px 8px;
}

.subscrb button {
	font-family: 'bpg_paata_capsregular', sans-serif;
	line-height: 24px;
	padding-top: 3px;
}
.pricefilter label {
	font-family: 'bpg_paata_capsregular', sans-serif;
	font-weight: bold;
}
.news-details .content .title h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.news-details .content .newstext h1{
    font-family: 'bpg_paata_capsregular', sans-serif; 
}
.news .info-content .articles .article .content .text, .roundblack .name .hdr {
	font-family: "BPG Rioni Arial", sans-serif;
}
.contentmobile div a {
	font-family: "BPG Rioni Arial", sans-serif;
}
.tab2 .name .hdr{
	font-family: "BPG Rioni Arial", sans-serif;
}
.filter-buttons {
	font-family: "BPG Rioni Arial", sans-serif;
}
.top-message .content div {
	font-family: "BPG Rioni Arial", sans-serif;
}
.middle-message .content div {
	font-family: "BPG Rioni Arial", sans-serif;
}
.media .content .image .discount p{
	font-family: "BPG Rioni Arial", sans-serif;
}
.news-details .content .newstext .info {
	font-family: "BPG Rioni Arial", sans-serif;
}
.news .info-content .articles .article .content .discount p{
	font-family: "BPG Rioni Arial", sans-serif;
}
.news .info-content .articles .article .content .discount a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.news .info-content .image .discount p{
	font-family: "BPG Rioni Arial", sans-serif;
}
.media .content .navigation p{
	font-family: 'bpg_paata_capsregular', sans-serif;
}
header .container .menu {
	font-family: "BPG Rioni Arial", sans-serif;
}
footer .content div a {
	font-family: "BPG Rioni Arial", sans-serif;
}
footer .lastline, header .login a {
	font-family: "BPG Rioni Arial", sans-serif;
}
.menu-container .content div a {
	font-family: "BPG Rioni Arial", sans-serif;
}

.shop .shopproducts .box-info-bar .products-number{
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop .shopproducts .box-info-bar .products-sort {
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop .shopproducts .box-info-bar .products-sort .control {
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop .shopproducts .box-info-bar .products-sort-by .btn-default {
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop .shopproducts .box-info-bar .products-showing {
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop .shopfilter p {
	font-family: "BPG Rioni Arial", sans-serif;
}
.sitemap .content div a {
	font-family: "BPG Rioni Arial", sans-serif;
}
.company .shoplist div a {
	font-family: "BPG Rioni Arial", sans-serif;
}
.career .content .tab, .details-page .right .details-det div, header .hbasket .basket-small p {
	font-family: "BPG Rioni Arial", sans-serif;
}
.details-page .qty3 {
	font-family: "BPG Rioni Arial", sans-serif;
}

.media .content input {
	font-family: "BPG Rioni Arial", sans-serif;
}

.media .full-gallery p, .media .full-gallery span {
	font-family: "BPG Rioni Arial", sans-serif;
}
.back h2 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.proflinks a, .basket .checkout, .career .current .vac {
	font-family: "BPG Rioni Arial", sans-serif;
}

.personal-page .left .shipping-address select {
	font-family: "BPG Rioni Arial", sans-serif;
}

.login-page .forgot, .login-page .forgot span {
	font-family: "BPG Rioni Arial", sans-serif;
}

.details-page .right .details-title {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.details-page .checkout a {
	font-family: 'bpg_paata_capsregular', sans-serif;
	padding-top: 15px;
}
.content2 .title, .career .current .title {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.brand-page .desc .text h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.login-page .title {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.shop .shopfilter .filteract {
	font-family: 'bpg_paata_capsregular', sans-serif;
	font-weight: bold;
	padding-top: 13px;
}
.shop .shopfilter .title {
	font-family: 'bpg_paata_capsregular', sans-serif;
	font-weight: bold;
}
.login-page .ave button {
	font-family: 'bpg_paata_capsregular', sans-serif;
	padding-top: 3px;
}
.sitemap .content div h1 a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.sitemap .content div h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.back a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.brand-page .desc .text a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.numbers .content .inner div span, .media .content .filter a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.news .info-content .navigation p {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.career .content .tab h1, .career .tab-bottom h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
footer .content div h1, .media .menu .content a, .subtitle p {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
footer .content div h3, .media .menu .content a, .subtitle p {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.brand-page .subtitle p {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.brands .menu .content a, .details-page .right .details-share a, .details-page .right .details-check {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.menu-container .content div h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.menu-container .content div h3 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.company .shoplist div h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.company .content .tab h1 {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.brand-page .desc .links a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.content .full-brands .col1 .brand .name {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.shop-home .content .categories .choosecat span {
	font-family: 'bpg_paata_capsregular', sans-serif;
	top: 33%;
}
.shop-home .content .categories .choosecat a {
	font-family: "BPG Rioni Arial", sans-serif;
}
.shop-home .content .categories .search input {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.bonus_card .content {
	font-family: "BPG Rioni Arial", sans-serif;
}
.error .content {
	font-family: "BPG Rioni Arial", sans-serif;
}


header .shop-online-button {
	font-family: 'bpg_paata_capsregular', sans-serif;
	background-size: 20px;
	padding-top: 5px;
}

.media .content .image a {
	font-family: 'bpg_paata_capsregular', sans-serif;
	padding-top: 12px;
	font-weight: bold;
}

.content .full-brands .col1 .brand a span {
	font-family: 'bpg_paata_capsregular', sans-serif;
	padding-top: 1px;
	font-weight: bold;
} 

.personal-page .title {
	font-family: 'bpg_paata_capsregular', sans-serif;
}

.personal-page .filter a {
	font-family: 'bpg_paata_capsregular', sans-serif;
} 

.personal-page .left .shipping-address button {
	padding-top: 3px;
	font-family: 'bpg_paata_capsregular', sans-serif;
}

.basket .checkout a {
	font-family: 'bpg_paata_capsregular', sans-serif;
	padding-top: 12px;
	font-weight: bold;
}

.career .current .vac a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.contact .content .col2 button {
	font-family: 'bpg_paata_capsregular', sans-serif;
}
.contentmobile .main a {
	font-family: 'bpg_paata_capsregular', sans-serif;
}